= simple_form_for(@radical) do |f|
  = f.error_notification

  .form-inputs
    = f.input :position
    = f.input :simplified
    = f.input :variant
    = f.input :note

  .form-actions
    = f.button :submit
