%p.do-not-print
  These are the most common radicals in order of how often they occur anywhere within
  = link_to "this list", characters_path
  of characters.
%table.characters
  %tr.do-not-print 
    %th Simplified
    %th Pinyin
    %th.do-not-print Wiktionary
    %th.do-not-print Frequency

  - @radicals.each do |radical|
    %tr
      %td
        %span.chinese
          = render "radicals/linked", :radical => radical
        / - if can? :index_characters, Radical
        /   = radical.currently_unmatched_characters.count
        /   \/
        /   = radical.characters.count
      / %td
      /   - Radical.where(position: radical.position, variant: true).each do |r|
      /     %span.chinese
      /       = render "radicals/linked", :radical => radical
      /     - if can? :index_characters, Radical
      /       = radical.currently_unmatched_characters.count
      /       \/
      /       = radical.characters.count
      %td
        = radical.pinyin
      - if can? :show, radical
        %td.do-not-print= link_to "Info", "http://en.wikipedia.org/wiki/Radical_#{ radical.position }"
      / %td.do-not-print
      /   = succeed '%' do
      /     = (radical.characters.count.to_f / @current_character_count.to_f * 100.0).round
        
      
%br
.do-not-print
  - if can? :create, Radical
    = link_to 'New Radical', new_radical_path
  - if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
    :javascript
      mixpanel.track("Radicals");