= render "rationale"
/ %p 
/   Tip: use the 
/   = link_to "EZPreview", "https://chrome.google.com/webstore/detail/ezlinkpreview/nnkcfbiefgdaceeplickkkmifpicbpcc?hl=en"
/   plugin for Google Chrome to see meaning and hear the pronunciation.

= will_paginate @characters
%table.characters
  %tr
    %th Character
    %th Pinyin 
    %th Wiktionary
    %th Radicals

  - @characters.each do |character|
    %tr
      %td.chinese
        = link_to character.simplified, character
      %td= link_to character.pinyin, character
      %td= link_to "Info", character.wiktionary_url, :target => "_blank"
      %td
        - character.radicals.each do |radical| 
          %span.chinese
            = render "radicals/linked", :radical => radical
          %span.pinyin-small
            - if character.radicals.count > 1 && radical.pinyin == character.pinyin
              %b
                = link_to radical.pinyin, radical
            - else
              = link_to radical.pinyin, radical
          %span
            &nbsp;
= will_paginate @characters

- if can? :new, Character
  = link_to 'New Character', new_character_path

- if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
  :javascript
    mixpanel.track("Characters");
