= render "rationale"
/ %p 
/   Tip: use the 
/   = link_to "EZPreview", "https://chrome.google.com/webstore/detail/ezlinkpreview/nnkcfbiefgdaceeplickkkmifpicbpcc?hl=en"
/   plugin for Google Chrome to see meaning and hear the pronunciation.

= will_paginate @characters
%table.characters
  %tr
    %th Character
    %th Pinyin 
    %th Wiktionary
    %th Radicals

  - @characters.each do |character|
    %tr
      %td.chinese
        = link_to character.simplified, character
      %td= link_to character.pinyin, character
      %td= link_to "Info", "http://en.wiktionary.org/wiki/#{character.simplified}#Mandarin", :target => "_blank"
      %td.chinese
        - character.radicals.each do |radical| 
          = render "radicals/linked", :radical => radical
= will_paginate @characters

- if can? :new, Character
  = link_to 'New Character', new_character_path

- if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
  :javascript
    mixpanel.track("Characters");
