%h1 Listing characters

%p 
  Tip: use the 
  = link_to "EZPreview", "https://chrome.google.com/webstore/detail/ezlinkpreview/nnkcfbiefgdaceeplickkkmifpicbpcc?hl=en"
  plugin for Google Chrome to see meaning and hear the pronunciation.

%table
  %tr
    %th 
    %th
    %th

  - @characters.each do |character|
    %tr
      %td.chinese= link_to character.simplified, character
      %td= link_to PinYin.of_string(character.simplified, :unicode).first, "http://en.wiktionary.org/wiki/#{character.simplified}#Mandarin", :target => "_blank"

%br

= link_to 'New Character', new_character_path
