%p#notice= notice

%h1.chinese
  = @character.simplified
%br
= link_to PinYin.of_string(@character.simplified, :unicode).first, "http://en.wiktionary.org/wiki/#{@character.simplified}#Mandarin"
%br
%hr
= link_to 'Edit', edit_character_path(@character)