!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "KangXi Radicals"
      %meta{:content => content_for?(:description) ? yield(:description) : "Chinese Character Lookup", :name => "description"}
        = stylesheet_link_tag "application", :media => "screen, projection"
        = stylesheet_link_tag "application-print", :media => "print"
        = javascript_include_tag "application"
        = csrf_meta_tags
  - if Rails.env == "production"
    :javascript
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
      typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
      b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
      mixpanel.init("205327faee0efccec16b37c2db34d98d");
  %body
    #wrap
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
      %main{:role => "main"}
        .container
          .content
            .row
              .span12
                = render 'layouts/messages'
                = yield
      #push
    #footer.do-not-print
      .container
        %p.muted.credit
          Brought to you by Sjors Provoost a.k.a. 
          = link_to("Purple Dunes", "http://purpledunes.com/") + "."
          You can also checkout my personal 
          = link_to("Twitter", "http://twitter.com/provoost")
          and 
          = link_to("blog", "http://sprovoost.nl/") + "."